<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-ag | @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" id="top-menu">
        @Html.ActionLink("T-ag", "Index", "Account", null, new { @class="navbar-brand" })
    </nav>
    @if (ViewBag.user != null)
    {
        <div>User: @ViewBag.user.login</div>
        @Html.ActionLink("Выйти", "Logout", "Account")
    }
    else
    {
        @Html.ActionLink("Войти", "Login", "Account")
        <br />
        @Html.ActionLink("Зарегистрироваться", "Register", "Account")
    }
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "nav-link" })
                        @if (ViewBag.User != null && ViewBag.user.role == "head")
                        {
                            @Html.ActionLink("Редактировать роли", "Index", "Head", null, new { @class = "nav-link" })
                        }
                    </li>
                </ul>
            </nav>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <div>    
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
