@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("К списку", "Index", "Order")
<br />
<h2>Тур</h2>

<ul>
    <li>Страна: @ViewBag.order.tour.country</li>
    <li>Вид отдыха: @ViewBag.order.tour.type</li>
    <li>Цена: @ViewBag.order.tour.price</li>
    <li>Описание: @ViewBag.order.tour.description</li>
    <li>Внесённая сумма: @ViewBag.order.amount</li>
</ul>

@if (ViewBag.order.amount == 0)
{
    if (ViewBag.user.role == "customer")
    {
        <p>@Html.ActionLink("Отменить", "Cancel", "Order", new { orderId = ViewBag.order.id }, null)</p>
    }
    else
    {
        <p>@Html.ActionLink("Подтвердить оплату", "CommitAmmount", "Order", new { orderId = ViewBag.order.id }, null)</p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <td>ФИО</td>
            <td>Возраст</td>
            <td>Пасспорт</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0, number = 1; i < ViewBag.order.participants.Count; i++)
        {
            <tr>
                <th scope="row">@(number++)</th>
                <td>@ViewBag.order.participants[i].fullName</td>
                <td>@ViewBag.order.participants[i].age</td>
                <td>@ViewBag.order.participants[i].passport</td>
            </tr>
        }
    </tbody>
</table>

<form method="post" action="/Tour/Feedback">
    <input type="hidden" name="orderId" value="@ViewBag.order.id" />
    <table>
        <tr>
            <td><p>Отзыв: </p></td>
            <td><input type="text" name="feedback" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Отправить отзыв" /></td>
        </tr>
    </table>

</form>