@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить тур</h2>

<form method="post" action="/Tour/Update">
    <input type="hidden" name="tourId" value="@ViewBag.tour.id"/>
    <table>
        <tr>
            <td><p>Страна: </p></td>
            <td><input type="text" name="country" value="@ViewBag.tour.country" /></td>
        </tr>
        <tr>
            <td><p>Вид отдыха: </p></td>
            <td><input type="text" name="type" value="@ViewBag.tour.type" /></td>
        </tr>
        <tr>
            <td><p>Цена: </p></td>
            <td><input type="text" name="price" value="@ViewBag.tour.price" /></td>
        </tr>
        <tr>
            <td><p>Описание: </p></td>
            <td><input type="text" name="description" value="@ViewBag.tour.description" /></td>
        </tr>
        <tr>
            <td><p>Скидка: </p></td>
            <td><input type="text" name="sale" value="@ViewBag.tour.sale" /></td>
        </tr>
        <tr>
            <td><p>Год: </p></td>
            <td><input type="text" name="year" value="@ViewBag.tour.saleDate.Year" /></td>
        </tr>
        <tr>
            <td><p>Месяц: </p></td>
            <td><input type="text" name="month" value="@ViewBag.tour.saleDate.Month" /></td>
        </tr>
        <tr>
            <td><p>День: </p></td>
            <td><input type="text" name="day" value="@ViewBag.tour.saleDate.Day" /></td>
        </tr>
        <tr>
            <td><p>Час: </p></td>
            <td><input type="text" name="hour" value="@ViewBag.tour.saleDate.Hour" /></td>
        </tr>
        <tr>
            <td><p>Минута: </p></td>
            <td><input type="text" name="minute" value="@ViewBag.tour.saleDate.Minute" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Обновить" /></td>
        </tr>
    </table>
</form>
